@page "/"
@using System.Globalization
@inject NavigationManager NavigationManager

<PageTitle>Dashboard</PageTitle>

<div class="container my-5">
    <div class="row mb-4">
        <div class="col-12 text-end text-muted">
            <h3 class="fw-bold fs-3">@GetGreetingMessage()</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary w-100 py-3" @onclick="NavigateToViewGeneratedDocuments">
                <i class="fa fa-list-alt" aria-hidden="true"></i> Generated Documents
            </button>
        </div>
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary w-100 py-3" @onclick="NavigateToGenerateDocument">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Generate Document
            </button>
        </div>
        <div class="col-md-4 mb-3">
            <button class="btn btn-primary w-100 py-3" @onclick="ShowAnalysis">
                <i class="fa fa-bar-chart" aria-hidden="true"></i> See Analysis
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            @if (showAnalysis)
            {
                <DocumentAnalysisComponent />
            }
        </div>
    </div>
</div>

@code {
    private bool showAnalysis = false;

    private string GetGreetingMessage()
    {
        var hour = DateTime.Now.Hour;
        string emoji = hour < 12 ? "🌅" : (hour < 18 ? "☀️" : "🌙");
        string greeting = hour < 12
            ? "Good Morning!"
            : (hour < 18 ? "Good Afternoon!" : "Good Evening!");
        return $"{emoji} {greeting}";
    }

    private void NavigateToViewGeneratedDocuments()
    {
        NavigationManager.NavigateTo("/generated-documents");
    }

    private void NavigateToGenerateDocument()
    {
        NavigationManager.NavigateTo("/generate-document");
    }

    private void ShowAnalysis()
    {
        showAnalysis = !showAnalysis;
    }
}
